# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
string1 = input("Enter a String :")
print("Reverse of the string is :", string1[::-1])

2. Check if a string is a palindrome.

In [ ]:
string2 = input("Enter a String to check if it is Palindrome :")
string2 = string2.lower()
string3 = string2[::-1]

if string3 == string2:
    print("Enter string is Palindrome")
else:
    print("Enter string is not Palindrome")

3. Convert a string to uppercase.

In [ ]:
string3 = input("Enter a String ")
print("Uppercase of your string :", string3.upper())

4. Convert a string to lowercase.

In [ ]:
string4 = input("Enter a String ")
print("lowercase of your string :", string4.lower())

5. Count the number of vowels in a string.

In [ ]:
string5 = input("Enter a String :")
a ="aeiou"
string5 = string5.lower()
i=0
vowel=0

while i< len(string5):
    if (string5[i] in a):
        vowel = vowel + 1
        i= i+1
    else:
        i= i+1

print("The number of Vowel in a String is :", vowel)

6. Count the number of consonants in a string.

In [ ]:
string6 = input("Enter a String :")
a = "bcdfghjklmnpqrstvwxyz"
string6 = string6.lower()
i=0
consonant=0

while i < len(string6):
    if (string6[i] in a):
        consonant = consonant + 1
        i= i +1
    else:
        i = i+1
print("The number of consonant in a String is :", consonant)

7. Remove all whitespaces from a string.

In [ ]:
string7 = input("Enter a String :")
string7=string7.replace(" ","")
string7

8. Find the length of a string without using the `len()` function.

In [ ]:
string8 = input("Enter a String :")
count=0
for i in string8:
    count = count + 1
count

9. Check if a string contains a specific word.

In [ ]:
sentence = "This is Rohan Shinde. Data Science class."
string9 = input("Enter a word to check if present or not :")
if string9.lower() in sentence.lower():
    print("Enter word is present in string")
else:
    print("Enter word is not present")

10. Replace a word in a string with another word.

In [ ]:
sentence = "This is Rohan Shinde. Data Science class."
string10 = input("Enter a word  :")
word =  input("Enter a word to replace :")
sentence.replace(string10,word)

11. Count the occurrences of a word in a string.

In [ ]:
sentence = "data is the new oil. data is the future."
string11 = input("Enter a word to check the occurence in sentence :")
a = sentence.split(sep=" ")
count =0

for i in range(len(a)):
    if a[i]== string11:
        count = count + 1
print("The word ",string11," occurred in sentence is :", count)

12. Find the first occurrence of a word in a string.

In [ ]:
sentence = "data is the new oil. data is the future."
string12 = input("Enter a word to check the first occurence in sentence :")
print("The index of the word of first occurrence :",sentence.find(string12))

13. Find the last occurrence of a word in a string.

In [ ]:
sentence = "data is the new oil. data is the future."
string13 = input("Enter a word to check the last occurence :")
print("The index of the word of last occurrence :",sentence.rfind(string13))

14. Split a string into a list of words.

In [ ]:
sentence = "data is the new oil. data is the future."
a=sentence.split()
print("The list of word is :", a)

15. Join a list of words into a string.

In [ ]:
a= ['data', 'is', 'the', 'new', 'oil.', 'data', 'is', 'the', 'future.']
string15 = str()
for i in range(len(a)):
    string15 = string15 + a[i] + " "

print("The String after joining list of words :", string15.rstrip(" "))

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
sentence = "data is the new oil. data is the future."
sentence.replace(" ","_")

17. Check if a string starts with a specific word or phrase.

In [ ]:
sentence = "data is the new oil. data is the future."
string17 = input("Enter the word to check with string start with :")

if (sentence.startswith(string17)):
    print("String starts with the word : " ,string17)
else:
    print("String does not start with the word : ", string17)

18. Check if a string ends with a specific word or phrase.

In [ ]:
sentence = "data is the new oil. data is the future."
string18 = input("Enter the word to check with string end with :")

if (sentence.endswith(string18)):
    print("String ends with the word : " ,string18)
else:
    print("String does not end with the word : ", string18)

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
sentence = "data is the new oil. data is the future."
sentence.title()

20. Find the longest word in a string.

In [19]:
sentence = "data is the new oil. data is the future."
a =sentence.split()
long_word = ""
for i in a:
    if (len(i) > len(long_word)):
        long_word = i

print("The longest word in string is :", long_word)

The longest word in string is : future.

21. Find the shortest word in a string.

In [21]:
sentence = "data is the new oil. data is the future."
a =sentence.split()
long_word = ""
for i in a:
    if (len(i) > len(long_word)):
        long_word = i
short_word = long_word
for i in a:
    if(len(i) < len(short_word)):
        short_word = i

print("The shortes word in string is :", short_word)

The shortes word in string is : is

22. Reverse the order of words in a string.

In [30]:
sentence = "data is the new oil. data is the future."
a=sentence.split()
b=a[::-1]
sentence_reverse =""
for i in range(len(b)):
    sentence_reverse = sentence_reverse + b[i] + " "

print("The sentence in reverse order :", sentence_reverse.rstrip(" "))

The sentence in reverse order : future. the is data oil. new the is data

23. Check if a string is alphanumeric.

In [1]:
sentence = "data is the new oil. data is the future."
sentence.isalnum()

False

24. Extract all digits from a string.

In [14]:
sentence = "1.data is the new oil 2.data is the future."
l=[]
for i in range(len(sentence)):
    if (sentence[i].isdigit()):
        l.append(sentence[i])

print("The list of digit from a string :", l)

The list of digit from a string : ['1', '2']

25. Extract all alphabets from a string.

In [15]:
sentence = "1.data is the new oil 2.data is the future."
l=[]
for i in range(len(sentence)):
    if (sentence[i].isalpha()):
        l.append(sentence[i])

print("The list of digit from a string :", l)

The list of digit from a string : ['d', 'a', 't', 'a', 'i', 's', 't', 'h', 'e', 'n', 'e', 'w', 'o', 'i', 'l', 'd', 'a', 't', 'a', 'i', 's', 't', 'h', 'e', 'f', 'u', 't', 'u', 'r', 'e']

26. Count the number of uppercase letters in a string.

In [17]:
sentence = "1. Data is the new oil 2. Data is the Future."
count = 0
for i in range(len(sentence)):
    if (sentence[i].isupper()):
        count = count + 1

print("The number of uppercase letters in a string :", count)

The number of uppercase letters in a string : 3

27. Count the number of lowercase letters in a string.

In [20]:
sentence = "1. Data is the new oil 2. Data is the Future."
count = 0
for i in range(len(sentence)):
    if (sentence[i].islower()):
        count = count + 1

print("The number of lowercase letters in a string :", count)

The number of lowercase letters in a string : 27

28. Swap the case of each character in a string.

In [21]:
sentence = "1. Data is the new oil 2. Data is the Future."
print("String after swap case", sentence.swapcase())

String after swap case 1. dATA IS THE NEW OIL 2. dATA IS THE fUTURE.

29. Remove a specific word from a string.

In [28]:
sentence = "1. Data is the new oil 2. Data is the Future."
string29 = input("Enter a string to remove a specific word :")
if (string29 in sentence):
    print("The string after removing word :",sentence.replace(string29, ""))
else:
    print("The word does not exist in string")

Enter a string to remove a specific word :Data
The string after removing word : 1.  is the new oil 2.  is the Future.

30. Check if a string is a valid email address.

In [49]:
string30 = input("Enter a email address :")

if " " not in string30:
    if(string30.count("@") < 2):
        print("The given email id is valid :")
    else:
        print("The given email id is not valid :")
else:
    print("The given email id is not valid :")

Enter a email address :rohan. shinde@pelatro.com
The given email id is not valid :

31. Extract the username from an email address string.

In [55]:
string31 = input("Enter a email address :")
string31.split(sep="@")
print("The username is :", string31.split(sep="@")[0])

Enter a email address :rohan.shinde@pelatro.com
The username is : rohan.shinde

32. Extract the domain name from an email address string.

In [56]:
string32 = input("Enter a email address :")
string32.split(sep="@")
print("The domain is :", string32.split(sep="@")[1])

Enter a email address :rohan.shinde@pelatro.com
The domain is : pelatro.com

33. Replace multiple spaces in a string with a single space.

In [39]:
sentence = "1.   Data is the  new oil      2. Data  is the    Future."
a=sentence.split(sep=" ")
b=[]
for i in range(len(a)):
    if (a[i] != ""):
        b.append(a[i])
        
sentence_new =""
for i in b:
    sentence_new = sentence_new + i + " "
sentence_new[:-1]

'1. Data is the new oil 2. Data is the Future.'

34. Check if a string is a valid URL.

In [42]:
url = input("Enter a URL :")
if ((url.startswith("http://") or (url.startswith("https://")))):
    print("Enter value is Valid URL ")
else:
    print("Enter value is not valid URL ")

Enter a URL :https://google.com
Enter value is Valid URL

35. Extract the protocol (http or https) from a URL string.

In [43]:
url = input("Enter a URL :")
if ((url.startswith("http://") or (url.startswith("https://")))):
    if(url.startswith("http://")):
        print("Protocol is HTTP")
    else:
        print("Protocol is HTTPS")
else:
    print("Enter value is not valid URL ")

Enter a URL :https://google.com
Protocol is HTTPS

36. Find the frequency of each character in a string.

In [54]:
sentence = "Data is the new oil . Data is the Future !!!"
a=sentence.split()
print(a)
space = sentence.count(" ")
s = set(a)
s = tuple(s)
d={}
for i in s:
    d[i]=sentence.count(i)
d[" "]=space
print("The frequency of each character in string are as follow (char:frequency) format : ",d)

['Data', 'is', 'the', 'new', 'oil', '.', 'Data', 'is', 'the', 'Future', '.']
The frequency of each character in string are as follow (char:frequency) format :  {'is': 2, 'the': 2, 'oil': 1, 'Future': 1, 'new': 1, 'Data': 2, '.': 2, ' ': 10}

37. Remove all punctuation from a string.

In [60]:
sentence = "Data is the new oil . Data is the Future !!!"
sentence_new=""
for i in range(len(sentence)):
    if(sentence[i].isascii()):
        sentence_new = sentence.replace(sentence[i],"")

sentence_new

'Data is the new oil . Data is the Future '

38. Check if a string contains only digits.

In [62]:
string38 = input("Enter a String")
if (string38.isnumeric()):
    print("Enter String contains only Digits ")
else:
    print("Enter String does not contains only Digits")

Enter a Stringrohan123
Enter String does not contains only Digits

39. Check if a string contains only alphabets.

In [64]:
string38 = input("Enter a String ")
if (string38.isalpha()):
    print("Enter String contains only Alphabets ")
else:
    print("Enter String does not contains only Alphabets")

Enter a String rohan
Enter String contains only Alphabets

40. Convert a string to a list of characters.

In [66]:
string40 = input("Enter a String : ")
a=[]
for i in string40:
    a.append(i)
a

Enter a String : rohan

['r', 'o', 'h', 'a', 'n']

41. Check if two strings are anagrams.

In [71]:
string1 = input("Enter a first string : ")
string2 = input("Enter a second string : ")
a=list(string1)
b=list(string2)

if (a.sort() == b.sort()):
    print("Strings are Anagrams")
else:
    print("Strings are not anagrams")

Enter a first string : triangle
Enter a second string : integral
Strings are Anagrams

42. Encode a string using a Caesar cipher.

In [89]:
string42 = input("Enter a String : ")
a ="abcdefghijklmnopqrstuvwxyz"
b= "yzabcdefghijklmnopqrstuvwx"
c=[]
#print("a",a.find(string42[0]))
#print("b", b.find(string42[0]))
#string_new = b[a.find(string42[0])]
for i in range(len(string42)):
    if ((string42[i] in a) and (string42[i] in b)):
        c.append(b[a.find(string42[i])])
    else:
        print("Please enter alphabet")
c
encoded_string =""
for i in c:
    encoded_string = encoded_string + i + "$"
encoded_string=encoded_string.replace("$","")
print("Caesar Cipher Encoded string is : ",encoded_string)

Enter a String : rohan
Caesar Cipher Encoded string is :  pmfyl

43. Decode a Caesar cipher encoded string.

In [93]:
string43 = input("Enter a String : ")
a ="abcdefghijklmnopqrstuvwxyz"
b= "yzabcdefghijklmnopqrstuvwx"
c=[]
#print("a",a.find(string42[0]))
#print("b", b.find(string42[0]))
#string_new = b[a.find(string42[0])]
for i in range(len(string43)):
    if ((string43[i] in b) and (string42[i] in a)):
        c.append(a[b.find(string43[i])])
    else:
        print("Please enter alphabet")
c
encoded_string =""
for i in c:
    encoded_string = encoded_string + i + "$"
encoded_string=encoded_string.replace("$","")
print("Caesar Cipher Encoded string is : ",encoded_string)

Enter a String : pmfyl
Caesar Cipher Encoded string is :  rohan

44. Find the most frequent word in a string.

In [7]:
sentence ="Data is the new oil . Data is the Future . Data science !!!"
a=sentence.split()
max_count = 0
word = ""

for i in a :
    if (sentence.count(i) > max_count):
        max_count = sentence.count(i)
        word = i

print(word,max_count)

Data 3

45. Find all unique words in a string.

In [21]:
sentence ="Data is the new oil . Data is the Future . Data science !!!"
a= sentence.split()
s = set(a)
a1 = list(s)
words = []
for i in range(len(a1)):
    if (a1[i].isalpha()):
        words.append(a1[i])
words

['the', 'new', 'is', 'Future', 'science', 'oil', 'Data']

46. Count the number of syllables in a string.

In [28]:
sentence ="Data is the new oil . Data is the Future . Data science !!!3."
count =0
for i in range(len(sentence)):
    if (sentence[i].isalpha()):
        count = count + 1
        
count

41

47. Check if a string contains any special characters.

In [36]:
sentence ="Data is the new oil . Data is the Future . Data science !!!3. "

for i in range(len(sentence)):
    if not (sentence[i].isalnum() or sentence[i].isnumeric() or sentence[i] == " "):
        print("String contains special character")
        break

String contains special character

48. Remove the nth word from a string.

In [48]:
sentence ="Data is the new oil . Data is the Future . Data science !!!3. "
a = sentence.split()
s = input("Enter the string ")
n = int(input("Enter the sequence to remove "))
count = 0
for i in range(len(a)):
    if (a[i] == s):
        count = count + 1
        if (count == n):
            a[i]=""
            break
sentence_new = " ".join(a)
sentence_new

Enter the stringData
Enter the sequence to remove2

'Data is the new oil .  is the Future . Data science !!!3.'

49. Insert a word at the nth position in a string.

In [49]:
sentence ="Data is the new oil . Data is the Future . Data science !!!3. "
a = sentence.split()
s = input("Enter the string ")
n = int(input("Enter the sequence to remove "))
s1 = input("Enter a string to replace ")
count = 0
for i in range(len(a)):
    if (a[i] == s):
        count = count + 1
        if (count == n):
            a[i]= s1
            break
sentence_new = " ".join(a)
sentence_new

Enter the string Data
Enter the sequence to remove 2
Enter a string to replace D@T@

'Data is the new oil . D@T@ is the Future . Data science !!!3.'

50. Convert a CSV string to a list of lists.

In [58]:
string50 = ''' 
id, name, age
1, rohan , 30
2, pooja , 30
'''

a=string50.split(sep="\n")

a.remove(" ")
a.pop()
a

['id, name, age', '1, rohan , 30', '2, pooja , 30']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [59]:
a =[]
for i in range(1,11):
    a.append(i)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [61]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Length of the list is : ",len(a))

Length of the list is :  10

3. Append an element to the end of a list.

In [62]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
item = int(input("Enter a item to add to the list at the end : "))
a.append(item)
print("List after adding iten at end : ",a)

Enter a item to add to the list at the end : 44
List after adding iten at end :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 44]

4. Insert an element at a specific index in a list.

In [69]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
item =  int(input("Enter a item to add to the list : "))
index = int(input("Enter a Index number : "))
a.insert(index,item)
a

Enter a item to add to the list : 44
Enter a Index number : 4

[1, 2, 3, 4, 44, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [71]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
value = int(input("Enter a value to be removed : "))
a.remove(value)
a

Enter a value to be removed : 5

[1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [72]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = int(input("Enter a index to be removed : "))

for i in range(len(a)):
    if (i == index):
        a.remove(a[i])
a

Enter a index to be removed : 4

[1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [76]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = int(input("Enter the element : "))

if (element in a):
    print("Element exist in list ")
else:
    print("Element does not exist in list")

Enter the element : 8
Element exist in list

8. Find the index of the first occurrence of an element in a list.

In [78]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
element = element = int(input("Enter the element : "))
a.index(element)

Enter the element : 2

1

9. Count the occurrences of an element in a list.

In [79]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
element = element = int(input("Enter the element : "))
a.count(element)

Enter the element : 2

3

10. Reverse the order of elements in a list.

In [80]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
a.reverse()
a

[2, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [82]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
a.sort()
a

[1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [83]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
a.sort(reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [85]:
a=[]
for i in range(1,21):
    if ((i % 2) == 0):
        a.append(i)
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [86]:
a=[]
for i in range(1,21):
    if ((i % 2) != 0):
        a.append(i)
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [89]:
a = [1, 2, 3, 4,5,6,7,8,9,10]
sum=0
for i in range(len(a)):
    sum = sum + a[i]

sum

55

16. Find the maximum value in a list.

In [90]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
max = 0
for i in range(len(a)):
    if (a[i] > max):
        max = a[i]

max

10

17. Find the minimum value in a list.

In [91]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,2,2]
a.sort()
a[0]

1

18. Create a list of squares of numbers from 1 to 10.

In [92]:
a=[]
for i in range(1,11):
    a.append(i*i)
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [5]:
a=[]
num = int(input("Enter the number of list to create : "))
i
for i in range(num):
    a.append(int(input("Enter the value ")))

print("The random list are : ",a)

Enter the number of list to create : 3
Enter the value 5875
Enter the value 55
Enter the value 86
The random list are :  [5875, 55, 86]

20. Remove duplicates from a list.

In [16]:
a = [1, 2, 3, 4, 5,4,3,5,5 ,6, 7, 8, 9, 10,2,2]
s = set(a)
s = list(s)
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

21. Find the common elements between two lists.

In [18]:
a=[1,2,33,4,455,6,66,7]
b=[1,1,22,2,2,3,44,455,6,44,88]

s1=set(a)
s2=set(b)

s1.intersection(s2)

{1, 2, 6, 455}

22. Find the difference between two lists.

In [19]:
a=[1,2,33,4,455,6,66,7]
b=[1,1,22,2,2,3,44,455,6,44,88]

s1=set(a)
s2=set(b)

s1.difference(s2)

{4, 7, 33, 66}

23. Merge two lists.

In [21]:
a=[1,2,33,4,455,6,66,7]
b=[1,1,22,2,2,3,44,455,6,44,88]

a+b

[1, 2, 33, 4, 455, 6, 66, 7, 1, 1, 22, 2, 2, 3, 44, 455, 6, 44, 88]

24. Multiply all elements in a list by 2.

In [24]:
a=[1,2,33,4,455,6,66,7]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
    
b

[2, 4, 66, 8, 910, 12, 132, 14]

25. Filter out all even numbers from a list.

In [1]:
a=[1,2,33,4,455,6,66,7]
b=[]
for i in range(len(a)):
    if (a[i] % 2 == 0):
        b.append(a[i])

b

[2, 4, 6, 66]

26. Convert a list of strings to a list of integers.

In [2]:
a=["1","2","3",'rohan']
b=[]

for i in range(len(a)):
    if (a[i].isdigit()):
        b.append(int(a[i]))
        
b

[1, 2, 3]

27. Convert a list of integers to a list of strings.

In [7]:
a=[1,2,33,4,455,6,66,7]
b=[]
for i in range(len(a)):
    b.append(str(a[i]))
    
b

['1', '2', '33', '4', '455', '6', '66', '7']

28. Flatten a nested list.

In [30]:
a=[1,2,33,4,455,6,[2,3,4,5],66,[22,33,44],7]
b=[]

for i in range(len(a)):
    if (type(a[i]) == list):
        b.extend(a[i])
    else:
        b.append(a[i])
    
b

[1, 2, 33, 4, 455, 6, 2, 3, 4, 5, 66, 22, 33, 44, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [32]:
n=10
i=1
x,y =0,1
a=[]
while (i<n):
    a.append(y)
    x,y =y,(x+y)
    i= i+1
    
a

[1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [56]:
a= [1,2,3,4,5,6,66,3,777,893]
b=[]
b=a[:]
b.sort()

if (a==b):
    print("List is sorted")
else:
    print("List is not sorted")

List is not sorted

31. Rotate a list to the left by `n` positions.

In [58]:
a= [1,2,3,4,5,6,66,3,777,893]
n= int(input("Enter the nth position to rotate the list to left : "))

print(a[n:])
print(a[:n])

a= a[n:] + a[:n]
a

Enter the nth position to rotate the list to left : 3
[4, 5, 6, 66, 3, 777, 893]
[1, 2, 3]

[4, 5, 6, 66, 3, 777, 893, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [61]:
a= [1,2,3,4,5,6,66,3,777,893]
n= int(input("Enter the nth position to rotate the list to right: "))

print(a[-n:])
print(a[:-n])

a= a[-n:] + a[:-n]
a

Enter the nth position to rotate the list to right: 3
[3, 777, 893]
[1, 2, 3, 4, 5, 6, 66]

[3, 777, 893, 1, 2, 3, 4, 5, 6, 66]

33. Create a list of prime numbers up to 50.

In [64]:
a=[]
for i in range(1,51):
    if ((i%2!=0) and (i%3 != 0) and (i%5 !=0) and (i%7 != 0)):
        a.append(i)
        
a

[1, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [81]:
a= [1,2,3,4,5,6,66,3,777,893]
n= int(input("Enter the size to split a list : "))
b=[]
if (len(a)%n == 0):
    for i in range(0,len(a),n):
        b.append(a[i:i+n])
    print("List are : ",b)
else:
    print("List cant be splitted")

Enter the size to split a list : 5
List are :  [[1, 2, 3, 4, 5], [6, 66, 3, 777, 893]]

35. Find the second largest number in a list.

In [85]:
a= [1,2,3,4,5,6,66,3,777,893]
b=a.copy()
print("b : ",b)
b.sort()
print("sort b : ",b)

print("Second largest number in list is : " ,b[-2])

b :  [1, 2, 3, 4, 5, 6, 66, 3, 777, 893]
sort b :  [1, 2, 3, 3, 4, 5, 6, 66, 777, 893]
Second largest number in list is :  777

36. Replace every element in a list with its square.

In [87]:
a= [1,2,3,4,5,6,66,3,777,893]

for i in range(len(a)):
    if (type(a[i] == int) or type(a[i] == float)):
        a[i] = (a[i]*a[i])
    else:
        print("Operation cant be performed")
        
a

[1, 4, 9, 16, 25, 36, 4356, 9, 603729, 797449]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [88]:
a= [1,2,3,4,5,6,66,3,777,893]
d={}

for i in range(len(a)):
    d[a[i]]=i

d

{1: 0, 2: 1, 3: 7, 4: 3, 5: 4, 6: 5, 66: 6, 777: 8, 893: 9}

38. Shuffle the elements of a list randomly.

In [115]:
a= [1,2,3,4,5,6,66,3,777,893]
b=[]
import random
#j=random.randint(1,len(a))
print("Original List : ",a)
i=0
while (i < 20):
    j=random.randint(1,100)
    a = a[j:] + a[:j]
    k = random.randint(1,len(a))
    a = a[-(k):] + a[:(-k)]
    i = i+1
    
print("Random List : ", a)

Original List :  [1, 2, 3, 4, 5, 6, 66, 3, 777, 893]
Random List :  [5, 6, 66, 3, 777, 893, 1, 2, 3, 4]

39. Create a list of the first 10 factorial numbers.

In [117]:
a=[]
for i in range(0,11):
    if (i==0):
        a.append(1)
    else:
        fact = 1
        while (i>1):
            fact = fact * i
            i = i -1
        a.append(fact)
        
a

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [120]:
a=[1,2,3]
b=[11,22,33]
s1= set(a)
s2 = set(b)

if (s1.intersection(s2) or s2.intersection(s1)):
    print("Two list have at least one element in common")
else:
    print("Two list does not have common element ")

Two list does not have common element

41. Remove all elements from a list.

In [121]:
a= [1,2,3,4,5,6,66,3,777,893]
a.clear()
a

[]

42. Replace negative numbers in a list with 0.

In [124]:
a= [1,2,-3,4,5,6,-66,3,-777,893]

for i in range(len(a)):
    if (a[i] < 0):
        a[i]=0
        
a

[1, 2, 0, 4, 5, 6, 0, 3, 0, 893]

43. Convert a string into a list of words.

In [125]:
sentence = "Data science is the future"
a= sentence.split()
a

['Data', 'science', 'is', 'the', 'future']

44. Convert a list of words into a string.

In [129]:
a=['Data', 'science', 'is', 'the', 'future']
sentence =''

for i in range(len(a)):
    sentence =  sentence + a[i] + " "
sentence[:-1]

'Data science is the future'

45. Create a list of the first `n` powers of 2.

In [2]:
n= int(input("Enter the number to create list of power 2 : "))
a=[]

for i in range(1,(n+1)):
    a.append(i*i)
    
print("The list with power 2 is : ",a)

Enter the number to create list of power 2 : 5
The list with power 2 is :  [1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [9]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
max_1=""
for i in range(len(string_list)):
    if (len(string_list[i]) > len(max_1)):
        max_1 = string_list[i]
        
max_1

'elderberry'

47. Find the shortest string in a list of strings.

In [13]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
short = string_list[0]

for i in range(len(string_list)):
    if(len(string_list[i]) < len(short)):
        short = string_list[i]
        
short

'date'

48. Create a list of the first `n` triangular numbers.

In [20]:
n= int(input("Enter the nth number to create the list of traingular number: "))
a=[]
for i in range(1,n+1):
    a.append(int((i*(i+1)/2)))
a

Enter the nth number to create the list of traingular number: 5

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [23]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b =[33,53,83]
c=[]
for i in range(len(b)):
    for j in range(len(a)):
        if b[i] == a[j]:
            c.append(1)
if len(c)> 1:
    print("List is a Subsequence")
else:
    print("List is not subsequence")

List is not subsequence

50. Swap two elements in a list by their indices.

In [26]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m = int(input("Enter value of index to swap : "))
n= int(input("Enter index to swap with : "))
print("Original list : ",a)
a[m],a[n] = a[n],a[m]
print("List after swap : ",a)

Enter value of index to swap : 1
Enter index to swap with : 5
Original list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List after swap :  [1, 6, 3, 4, 5, 2, 7, 8, 9, 10]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [27]:
a = [1,2,3,4,5]
t= tuple(a)
print("Type of t", type(t))
t

Type of t <class 'tuple'>

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [28]:
t = [1,2,3,4,5]
print("Third element in a tuple is : ",t[2])

Third element in a tuple is :  3

3. Find the length of a tuple without using the `len()` function.

In [29]:
t = [1,2,3,4,5]
count =0

for i in t:
    count = count +1
    
count

5

4. Count the occurrences of an element in a tuple.

In [32]:
t = (1,2,3,4,5,2,2,2,1)
n = int(input("Enter the element to count the occurences : "))
count =0
for i in range(len(t)):
    if(t[i] == n):
        count= count + 1

print("The occurence of element enter is : ", count)

Enter the element to count the occurences : 2
The occurence of element enter is :  4

5. Find the index of the first occurrence of an element in a tuple.

In [35]:
t = (1,2,3,4,5,2,2,2,1)
n = int(input("Enter the element to count the occurences : "))
t.index(n)

Enter the element to count the occurences : 2

1

6. Check if an element exists in a tuple.

In [37]:
t = (1,2,3,4,5,2,2,2,1)
n = int(input("Enter the element to check if it exist in tuple : "))

if (t.count(n)>1):
    print("Element Exist ")
else:
    print("Element does not exist ")

Enter the element to check if it exist in tuple : 22
Element does not exist

7. Convert a tuple to a list.

In [2]:
t = (1,2,3,4,5,2,2,2,1)
l = list(t)
type(l)

list

8. Convert a list to a tuple.

In [4]:
l = [1, 2, 3, 4, 5, 2, 2, 2, 1]
print(type(l))
t= tuple(l)
print(type(t))

<class 'list'>
<class 'tuple'>

9. Unpack the elements of a tuple into variables.

In [5]:
t=(1,2,3)

(x1,x2,x3) = t
print(x1)
print(x2)
print(x3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [7]:
a=[]
for i in range(0,11):
    if(i%2 == 0):
        a.append(i)
t = tuple(a)
print("Tuple with even number : ",t)

Tuple with even number :  (0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [8]:
a=[]
for i in range(0,11):
    if(i%2 != 0):
        a.append(i)
t = tuple(a)
print("Tuple with odd number : ",t)

Tuple with odd number :  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [10]:
t1=(1,2,3,4)
t2=(11,22,33,44)
t3 = t1 + t2

(1, 2, 3, 4, 11, 22, 33, 44)

13. Repeat a tuple three times.

In [11]:
t1 = (1,2,3,4)
t3 = t1 *3
print(t3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [12]:
t1 = (1,2,3,4)

if (len(t1) == 0):
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is not empty

15. Create a nested tuple.

In [13]:
t1=(1,2,3,4)
t2=(11,22,33,44)
t3 =(t1,t2)
t3

((1, 2, 3, 4), (11, 22, 33, 44))

16. Access the first element of a nested tuple.

In [16]:
t3 =((1, 2, 3, 4), (11, 22, 33, 44), ('a',"b"))

print("First element of nested tuple: ",t3[0])

First element of nested tuple:  (1, 2, 3, 4)

17. Create a tuple with a single element.

In [18]:
a=(2,)
print(type(a))
print(len(a))

<class 'tuple'>
1

18. Compare two tuples.

In [19]:
t1=(1,2,3,4)
t2=(11,22,33,44)

print("t1 == t2 :",(t1 == t2))
print("t1 != t2 :",(t1 != t2))
print("t1 < t2 :",(t1 < t2))
print("t1 > t2 :",(t1 > t2))

t1 == t2 : False
t1 != t2 : True
t1 < t2 : True
t1 > t2 : False

19. Delete a tuple.

In [21]:
t1=(1,2,3,4)
print("t1", t1)
del(t1)

t1

t1 (1, 2, 3, 4)

NameError: name 't1' is not defined

20. Slice a tuple.

In [23]:
t1=(1,2,3,4,11,22,33,44,"a","b","c","d")

print("Slice of tuple t1 : ",t1[:3])

Slice of tuple t1 :  (1, 2, 3)

21. Find the maximum value in a tuple.

In [33]:
t1=(1,2,3,4,11,22,333.7,44,"a","b","c","d")

def max_val_tuple(x):
    max1=0
    if (type(x) == tuple):
        for i in range(len(x)):
            if(type(x[i]) != str ):
                if (x[i] > max1 ):
                    max1=x[i]
                
        return max1
                
    else:
        return ("Invalid datatype , pass seq as tuple ")

print("Max value in tuple t1 : ", max_val_tuple(t1))

Max value in tuple t1 :  333.7

22. Find the minimum value in a tuple.

In [36]:
t1=(1,2,3,4,11,22,333.7,44,"a","b","c","d")

def min_val_tuple(x):
    min1=x[0]
    if (type(x) == tuple):
        for i in range(len(x)):
            if(type(x[i]) != str ):
                if (x[i] < min1 ):
                    min1=x[i]
                
        return min1
                
    else:
        return ("Invalid datatype , pass seq as tuple ")

print("Max value in tuple t1 : ", min_val_tuple(t1))

Max value in tuple t1 :  1

23. Convert a string to a tuple of characters.

In [37]:
string = "rohan"
t1 = tuple(string)
t1

('r', 'o', 'h', 'a', 'n')

24. Convert a tuple of characters to a string.

In [39]:
t1 = ('r', 'o', 'h', 'a', 'n')
string=''
for i in range(len(t1)):
    string = string + t1[i]
    
string

'rohan'

25. Create a tuple from multiple data types.

In [40]:
mixed_tuple = (1, "hello", 3.14, True)
type(mixed_tuple)

tuple

26. Check if two tuples are identical.

In [42]:
t1=(1,2,3,4)
t2=(1,2,3,4)

if (t1 == t2):
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

27. Sort the elements of a tuple.

In [44]:
t1=(11,2,33,4)
l = list(t1)
l.sort()
t1= tuple(l)
t1

(2, 4, 11, 33)

28. Convert a tuple of integers to a tuple of strings.

In [47]:
t1=(1,2,3,4)
l = list()

for i in range(len(t1)):
    l.append(str(t1[i]))
    
t3 = tuple(l)
t3

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [49]:
t1 =('1', '2', '3', '4')
l = list()

for i in range(len(t1)):
    l.append(int(t1[i]))
    
t3 = tuple(l)
t3

(1, 2, 3, 4)

30. Merge two tuples.

In [51]:
t1=(1,2,3,4)
t2=(1,2,3,4)
t3 =t1 + t2
t3

(1, 2, 3, 4, 1, 2, 3, 4)

31. Flatten a nested tuple.

In [5]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [14]:
t1 =(1,2,3,2,1,66)
t2 = t1[::-1]

if (t1 == t2):
    print("Tuple is Palindrome ")
else:
    print("Tuple is not palindrome ")

Tuple is not palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [16]:
a=[]
for i in range(1,6):
    a.append(i*i)
t = tuple(a)
t

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [19]:
t= (1, 4, 9, 16, 25)
a=[]
for i in range(len(t)):
    if (t[i]%2 != 0):
        a.append(t[i])
t2 =tuple(a)
t2

(1, 9, 25)

36. Multiply all elements in a tuple by 2.

In [20]:
t= (1, 4, 9, 16, 25)
t2 = tuple(i*2  for i in t)
t2

(2, 8, 18, 32, 50)

37. Create a tuple of random numbers.

In [21]:
def tuple_random(n):
    a=[]
    for i in range(1,(n+1)):
        a.append(int(input(f"Enter the {i} value of tuple : ")))
        
    return tuple(a)

m = int(input("Enter the length of tuple : "))
print("Random tuple : ",tuple_random(m))

Enter the length of tuple : 5
Enter the 1 value of tuple : 22
Enter the 2 value of tuple : 33
Enter the 3 value of tuple : 44
Enter the 4 value of tuple : 55
Enter the 5 value of tuple : 66
Random tuple :  (22, 33, 44, 55, 66)

38. Check if a tuple is sorted.

In [24]:
t=(1,2,3,4,5,5)
a=list(t)
a.sort()
t1=tuple(a)

t==t1

True

39. Rotate a tuple to the left by `n` positions.

In [26]:
t=(1,2,3,4,5,5)
n = int(input("Enter the value to rotate the tuple to left : "))
t1 = tuple(list(t[n:]) + list(t[:n]))
t1

Enter the value to rotate the tuple to left : 2

(3, 4, 5, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [27]:
t=(1,2,3,4,5,5)
n = int(input("Enter the value to rotate the tuple to right : "))
t1 = tuple(list(t[-n:]) + list(t[:-n]))
t1

Enter the value to rotate the tuple to right : 2

(5, 5, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [28]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [31]:
string = input("Enter a input to convert to tuple : ")
a=[]
for i in string:
    a.append(i)
    
t = tuple(a)
t

Enter a input to convert to tuple : 12345

('1', '2', '3', '4', '5')

43. Swap two elements in a tuple.

In [42]:
t=(1,2,3,4,5,5)
index = 1
index =3
a= list(t)
b = a.copy()
b[1]=a[3]
b[3]=a[1]
t2=tuple(b)
t2

(1, 4, 3, 2, 5, 5)

44. Reverse the elements of a tuple.

In [43]:
t=(1,2,3,4,5,5)
t2= t1[::-1]
t2

(5, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [45]:
t=(1,2,3,4,5,5)

def tuple_n_power_2(x,n):
    a=list(x)
    for i in range(n):
        a[i]=(a[i]*a[i])
        
    return tuple(a)

tuple_n_power_2(t,3)

(1, 4, 9, 4, 5, 5)

46. Find the longest string in a tuple of strings.

In [47]:
t = ("rohan","shinde","data","science")

def string_max_tuple(x):
    max_len=len(x[0])
    max_string=x[0]
    for i in range(len(x)):
        if (len(x[i]) > max_len):
            max_len= len(x[i])
            max_string=x[i]
            
    return max_string

string_max_tuple(t)

'science'

47. Find the shortest string in a tuple of strings.

In [48]:
t = ("rohan","shinde","data","science")

def string_min_tuple(x):
    min_len=len(x[0])
    min_string=x[0]
    for i in range(len(x)):
        if (len(x[i]) < min_len):
            min_len= len(x[i])
            min_string=x[i]
            
    return min_string

string_min_tuple(t)

'data'

48. Create a tuple of the first `n` triangular numbers.

In [49]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [52]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [53]:
n= int(input("Enter the length : "))
a=[]
for i in range(n):
    if (i%2 == 0):
        a.append(0)
    else:
        a.append(1)
        
t=tuple(a)
t

Enter the length : 5

(0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [3]:
my_set = set()
for i in range(1,6):
    my_set.add(i)
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

2. Add an element to a set.

In [7]:
print("Original Set",my_set)
my_set.add(7)
print("Set after adding element : ",my_set)

Original Set {1, 2, 3, 4, 5, 6}
Set after adding element :  {1, 2, 3, 4, 5, 6, 7}

3. Remove an element from a set.

In [8]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(5)
my_set

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [10]:
my_set = {1, 2, 3, 4, 5}
n = int(input("Enter element to check in set "))

if (n in my_set):
    print(f"Element {n} exist in Set ")
else:
    print(f"Element {n} does not exist in Set ")

Enter element to check in set 2
Element 2 exist in Set

5. Find the length of a set without using the `len()` function.

In [14]:
def set_length(x):
    if (type(x) == set):
        count =0
        for i in x:
            count = count + 1
            
        return count

    else:
        print("Invalid type ,must pass Set as argument")
        
my_set = {1, 2, 3, 4, 5}

print("Length of Set is : ", set_length(my_set))

Length of Set is :  5

6. Clear all elements from a set.

In [16]:
my_set = {1, 2, 3, 4, 5}
print("Original set : ",my_set)
my_set.clear()
print("Set after clearing element : ",my_set)

Original set :  {1, 2, 3, 4, 5}
Set after clearing element :  set()

7. Create a set of even numbers from 1 to 10.

In [17]:
my_set=set()
for i in range(1,11):
    if (i%2 == 0):
        my_set.add(i)
        
my_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [18]:
my_set=set()
for i in range(1,11):
    if (i%2 != 0):
        my_set.add(i)
        
my_set

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [19]:
my_set1 = {2, 4, 6, 8, 10}
my_set2 = {1, 3, 5, 7, 9}

my_set3 = my_set1.union(my_set2)
my_set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [20]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_set1= {2, 4, 6, 8, 10}

my_set2 = my_set.intersection(my_set1)
my_set2

{2, 4, 6, 8, 10}

11. Find the difference between two sets.

In [21]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_set1= {2, 4, 6, 8, 10}

my_set2 = my_set.difference(my_set1)
my_set2

{1, 3, 5, 7, 9}

12. Check if a set is a subset of another set.

In [22]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [23]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [24]:
l=[1,2,3,4]
s= set(l)
s

{1, 2, 3, 4}

15. Convert a set to a list.

In [25]:
s ={1, 2, 3, 4}
l = list(s)
l

[1, 2, 3, 4]

16. Remove a random element from a set.

In [32]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

17. Pop an element from a set.

In [33]:
s ={1, 2, 3, 4,5}
print("Original Set : ", s)
s1 = s.pop()
print("Set after removing random elemnt : ", s)

Original Set :  {1, 2, 3, 4, 5}
Set after removing random elemnt :  {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [39]:
set1 = {6,7}
set2 = {1, 2, 3, 4, 5}

s1 = set1.intersection(set2)
s2 = set2.intersection(set1)

if (s1 and s2):
    print("Two sets have elemnts in common")
else:
    print("Two sets have no elements in common ")

Two sets have no elements in common

19. Find the symmetric difference between two sets.

In [41]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}

set3 = set1 ^ set2
set3

{1, 2, 3, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [42]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [43]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [44]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}

if set1 == set2:
    print("Set are identical")
else:
    print("Set are not identical")

Set are not identical

23. Create a frozen set.

In [45]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [47]:
set1 = {1, 2, 3}
set2 = {4, 5, 6, 7, 8, 9}

if (set1.isdisjoint(set2)):
    print("set is disjoint")
else:
    print("set is not disjoint")

set is disjoint

25. Create a set of squares of numbers from 1 to 5.

In [48]:
s1=set()

for i in range(1,6):
    s1.add(i*i)

s1

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [49]:
s1 = {1, 4, 9, 16, 25}
l = list(s1)
s2=set()
for i in range(len(l)):
    if (l[i]%2 != 0):
        s2.add(l[i])
        
s2

{1, 9, 25}

27. Multiply all elements in a set by 2.

In [51]:
s1 = {1, 4, 9, 16, 25}
l = list(s1)
s2=set()
for i in range(len(l)):
    s2.add(2 * l[i])
        
s2

{2, 8, 18, 32, 50}

28. Create a set of random numbers.

In [54]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {46, 14, 83, 27, 60}

29. Check if a set is empty.

In [55]:
s3 = set()

if (len(s3)==0):
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [63]:
s1 = {1,2,34,4}
s2 = frozenset({11,22})

s1.add(s2)
s1

{1, 2, 34, 4, frozenset({11, 22})}

31. Remove an element from a set using the discard method.

In [65]:
s1 = {1,2,34,4,5,6,7}
s1.discard(2)
s1

{1, 4, 5, 6, 7, 34}

32. Compare two sets.

In [69]:
set1 = {1, 2, 3}
set2 = {4, 5, 6, 7, 8, 9}

print(set1 == set2)
print(set1 < set2)
print(set1 != set2)
print(set1 > set2)

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

False
False
True
False

33. Create a set from a string.

In [70]:
string = "rohan"
set1=set()
for i in string:
    set1.add(i)
    
set1

{'a', 'h', 'n', 'o', 'r'}

34. Convert a set of strings to a set of integers.

In [71]:
string_set = {"123", "456", "789"}
int_set=set()

for i in string_set:
    int_set.add(int(i))

int_set

{123, 456, 789}

35. Convert a set of integers to a set of strings.

In [72]:
int_set = {123, 456, 789}
string_set = set()

for i in int_set:
    string_set.add(str(i))
    
string_set

{'123', '456', '789'}

36. Create a set from a tuple.

In [74]:
t =(1,2,3,4)
set1 = set(t)
set1

{1, 2, 3, 4}

37. Convert a set to a tuple.

In [76]:
set1 = {1, 2, 3, 4}
t = tuple(set1)
t

(1, 2, 3, 4)

38. Find the maximum value in a set.

In [77]:
int_set = {123, 456, 789,33,456.7,22.2,6000,7777.8,77}

def max_val_set(x):
    a= list(x)
    a.sort()
    return a[-1]

print("The max vlaue in set is : ", max_val_set(int_set))

The max vlaue in set is :  7777.8

39. Find the minimum value in a set.

In [78]:
int_set = {123, 456, 789,33,456.7,22.2,6000,7777.8,77}

def min_val_set(x):
    a= list(x)
    a.sort()
    return a[0]

print("The min vlaue in set is : ", min_val_set(int_set))

The min vlaue in set is :  22.2

40. Create a set from user input.

In [79]:
set1 = set()
n = int(input("Enter the length of Set to create : "))

for i in range(1,(n+1)):
    set1.add(input(f"{i}.Enter the value to Set : "))
    
print("User input set is : ", set1)

Enter the length of Set to create : 5
1.Enter the value to Set : rohan
2.Enter the value to Set : 1
3.Enter the value to Set : 55
4.Enter the value to Set : 8.7
5.Enter the value to Set : True
User input set is :  {'rohan', 'True', '8.7', '55', '1'}

41. Check if the intersection of two sets is empty.

In [83]:
set1 = {1, 2, 3}
set2 = {4, 5, 6, 7, 8, 9}

if (set1.intersection(set2) and (1)):
    print("Intersection is not empty ")
else:
    print("Intersection is empty")

Intersection is empty

42. Create a set of the first 5 Fibonacci numbers.

In [84]:
fib_set = set()

a,b = 0,1

for i in range(1,6):
    fib_set.add(a)
    fib_set.add(b)
    a,b = b,a+b
    
fib_set

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [86]:
l = [1,2,3,11,1,2,22,33,3,33,34]
set1= set(l)
l = list(set1)
l

[1, 2, 3, 33, 34, 11, 22]

44. Check if two sets have the same elements, regardless of their count.

In [87]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [91]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [92]:
list1 = [1,2,3,44,5]
set1 = {1,22,3,444,55}

set_list = set(list1)

set_common = set1.intersection(set_list)
set_common

{1, 3}

47. Create a set of the first `n` triangular numbers.

In [93]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [94]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [97]:
n= int(input("Enter the length : "))
l=[]
for i in range(n):
    if (i%2 == 0):
        l.append(0)
    else:
        l.append(1)
        
set1 = set(l)
set1

Enter the length : 5

{0, 1}

50. Merge multiple sets into one.

In [98]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}